In [ ]:
import pandas as pd
import numpy as np

In [ ]:
read_file_name = "/content/matches.csv"
write_file_name = "/content/ipl_data_cleaned.csv"
df = pd.read_csv(read_file_name,low_memory=False)

In [ ]:
print(df.columns)

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [ ]:
df["city"] = df["city"].fillna('Dubai')
df["city"]

0          Hyderabad
1               Pune
2             Rajkot
3             Indore
4          Bangalore
           ...
751           Mumbai
752          Chennai
753    Visakhapatnam
754    Visakhapatnam
755        Hyderabad
Name: city, Length: 756, dtype: object

In [ ]:
columns_arr = ["team1","team2","toss_winner","winner"]

for column in columns_arr :
  col_dataload_arr = []
  #if column == "venue" :
  for rowdata in df[column] :

    if rowdata == "Rising Pune Supergiant"  :
      format_row_data = "Rising Pune Supergiants"
      col_dataload_arr.append(format_row_data)
    else :
      col_dataload_arr.append(rowdata)
  df[column] = col_dataload_arr
  
# print(df["venue"])

# for data in df["venue"] :
#   print(data)

In [ ]:
df[df.columns] = df[df.columns].fillna('Unknown')
print(df.head())

   id  season       city        date                        team1  \
0   1    2017  Hyderabad  2017-04-05          Sunrisers Hyderabad
1   2    2017       Pune  2017-04-06               Mumbai Indians
2   3    2017     Rajkot  2017-04-07                Gujarat Lions
3   4    2017     Indore  2017-04-08      Rising Pune Supergiants
4   5    2017  Bangalore  2017-04-08  Royal Challengers Bangalore

                         team2                  toss_winner toss_decision  \
0  Royal Challengers Bangalore  Royal Challengers Bangalore         field
1      Rising Pune Supergiants      Rising Pune Supergiants         field
2        Kolkata Knight Riders        Kolkata Knight Riders         field
3              Kings XI Punjab              Kings XI Punjab         field
4             Delhi Daredevils  Royal Challengers Bangalore           bat

   result  dl_applied                       winner  win_by_runs  \
0  normal           0          Sunrisers Hyderabad           35
1  normal           0      Rising Pune Supergiants            0
2  normal           0        Kolkata Knight Riders            0
3  normal           0              Kings XI Punjab            0
4  normal           0  Royal Challengers Bangalore           15

   win_by_wickets player_of_match                                      venue  \
0               0    Yuvraj Singh  Rajiv Gandhi International Stadium, Uppal
1               7       SPD Smith    Maharashtra Cricket Association Stadium
2              10         CA Lynn     Saurashtra Cricket Association Stadium
3               6      GJ Maxwell                     Holkar Cricket Stadium
4               0       KM Jadhav                      M Chinnaswamy Stadium

          umpire1        umpire2  umpire3
0     AY Dandekar       NJ Llong  Unknown
1  A Nand Kishore         S Ravi  Unknown
2     Nitin Menon      CK Nandan  Unknown
3    AK Chaudhary  C Shamshuddin  Unknown
4         Unknown        Unknown  Unknown

In [ ]:
for column in df.columns :
  venue_dataload_arr = []
  if column == "venue" :
    for rowdata in df[column] :

      if rowdata.__contains__(",")  :
        format_row_data = rowdata.replace(",", "")
        venue_dataload_arr.append(format_row_data)
      else :
        venue_dataload_arr.append(rowdata)
    df[column] = venue_dataload_arr
  
# print(df["venue"])

# for data in df["venue"] :
#   print(data)

In [ ]:
df.to_csv(write_file_name)